

    <h1>Education Background</h1>

    
    <table border="2" WIDTH="50%"   CELLPADDING="4" CELLSPACING="1">
       
        <TH>HIGH SCHOOL</TH>
        <TH>SUBJECTS</TH>

        <tr>
            <td>MANGALA</td>

            <td>
                <ul>
                    <li>IsiXhosa</li>
                    <li>English</li>
                    <li>Mathematics</li>
                    <li>Life Orientation</li>
                    <li>Physical Sciences</li>
                    <li>Life Sciences</li>
                    <li>Physical Sciences</li>
                  </ul>
            </td>
           
            
        </tr>
       
    </table>


 <br>
 <br>


     
    <table border="2" WIDTH="50%"   CELLPADDING="4" CELLSPACING="1">
       
        <TH>UNIVERSITY</TH>
        <TH>SUBJECTS</TH>

        <tr>
            <td>Walter SisuluUniversity</td>

            <td>
                <ol>
                    <li>Graphical User Interface and Design</li>
                    <li>Technical Programming</li>
                    <li>Systems Software</li>
                    <li>Software Development</li>
                </ol>
            </td>
           
            
        </tr>
       
    </table>

<div class="footer">
    <p>Sibongiseni Mxinwa</p>
</div>